* {
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    
}



a {
    text-decoration: none;
    color: #222;
}

/*NAVBAR*/

#navbar {
    display: grid;
    grid-template-columns: 55px 55px 1fr repeat(3, 55px) 100px;
    grid-template-rows: 50px;
    grid-template-areas: 
    "about store . gmail images dot-menu sign-in";
    padding: 5px 15px 5px 10px;
}

#nine-dot {
    width: 22px;
    height: 22px;
}

#about, #store, #gmail, #images, #dot-menu, #sign-in {
    justify-self: center;
    align-self: center;
    padding-left: 10px;
}

#navbar > a {
    font-size: .86em;
}

#about {
    grid-area: about;
}

#store {
    grid-area: store;
}

#gmail {
    grid-area: gmail;
    padding-right: 16px;
}

#images {
    grid-area: images;
    padding-right: 20px;
}

#dot-menu {
    grid-area: dot-menu;
    padding-right: 15px;
    padding-top: 3px;
}

#sign-in {
    grid-area: sign-in;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: .50px;
    background: #1a73e8;
    color: #fff;
    border-radius: 4px;
    padding: 9px 24px;
}

/*NAVBAR-END*/

/*MAIN*/

#main {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 1fr 90px 1fr; 
  grid-template-areas: 
  ". google-img ."
  ". search ."
  ". flexbox ."; 
  padding: 10px;
  justify-self: center;
  align-self: center;
  height: 75vh;
}

#google-img {
    grid-area: google-img;
    justify-self: center;
    align-self: flex-end;
}

#search {
    grid-area: search;
    height: 42px;
    width: 580px;
    justify-self: center;
    align-self: center;
    border-radius: 24px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    text-indent: 45px;
    padding-top: 3px;
}


#btn-flex {
    grid-area: flexbox;
    justify-self: center;
}

.main-btn {
    height: 36px;
    line-height: 27px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    padding: 0 15px;
    margin: 11px 4px;
    font-family: arial, sans-serif;
    font-size: .9em;
}

/*MAIN-END*/

/*FOOTER*/

#footer {
    display: grid;
    position: fixed;
    bottom: 0;
    grid-template-columns: 90px 90px 140px 1fr repeat(3, 70px);
    grid-template-rows: 46px;
    width: 100%;
    grid-template-areas: 
    "advertising business hsw cns privacy terms settings";
    background-color: #f2f2f2; 
}

#footer > a {
    font-size: .87em;
    color: #70757a;
}

#advertising, #business, #hsw, #cns, #privacy, #terms, #settings {
    justify-self: center;
    align-self: center;
}

#advertising, #business, #hsw {
}

#advertising {
    grid-area: advertising;
}

#business {
    grid-area: business;
}

#hsw {
    grid-area: hsw;
}

#cns {
    grid-area: cns;
}

#leaf {
    float: left;
    width: 12px;
    padding-right: 9px;
}

#privacy {
    grid-area: privacy;

}

#terms {
    grid-area: terms;

}

#settings {
    grid-area: settings;

}
/*FOOTER-END*/

/*HOVER-CSS*/

.hlink:hover {
    text-decoration: underline;
}

#sign-in:hover {
    background: #2b7de9;
}

#dot-menu:hover {
    background: #f2f2f2;
}

.main-btn:hover {
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

#search:hover {
    box-shadow: 0 1px 4px rgba(32,33,36,.28);
}

/*HOVER-CSS-END*/

/*MEDIA-Q*/

@media screen and (max-width: 1200px) {
    #footer {
        grid-template-columns: 90px 90px 140px 1fr repeat(3, 70px);
        grid-template-rows: 46px 46px;
        grid-template-areas: 
        ". . . cns . . ."
        "advertising business hsw . privacy terms settings";
    }
}

@media screen and (max-width: 720px) {
    #footer {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(3, 45px);
        grid-template-areas: 
        ". cns ."
        "advertising business hsw"
        "privacy terms settings";
    }

    #advertising, #privacy {
        justify-self: flex-end;
    }

    #hsw, #settings {
        justify-self: flex-start;
    }

    #main {
        display: grid;
        grid-template-columns: 20px 1fr 20px;
        grid-template-rows: 1fr 90px 1fr; 
        grid-template-areas: 
        ". google-img ."
        ". search ."
        ". flexbox ."; 
        padding: 10px;
        justify-self: center;
        align-self: center;
        height: 75vh;  
    }

    #search {
        grid-area: search;
        height: 42px;
        width: 100%;
        justify-self: center;
        align-self: center;
        border-radius: 24px;
        background: #fff;
        border: 1px solid #dfe1e5;
        box-shadow: none;
        text-indent: 45px;
        padding-top: 3px;
    }

    #cns {
        font-size: 8px;
    }
}

/*MEDIA-Q-END*/